:root {
  // --navy-blue: #05445e;
  // --gunmetal: #e0e5e7;
  // --rose-red: #c85250;
  // --soap-stone: #fffbf9;
  // --mid-grey: #5f5f6e;
  // --regent-grey: #86949f;
  // --seas-hell: #f1f1f1;
  // --snow-drift: #f9f9f9;
  --dark-jungle-green: #1e2025;
  --mirage: #161a1e;
  --gunmetal: rgb(43, 49, 58);
  --mandy: #e84262;
  --citron: #95a724;
  --dawn-pink: #e9ecef;
  --ebony-clay: #292d35;
  --corn: #efb90a;
}

$main-colors: (
  // "navy-blue": var(--navy-blue),
  // "rose-red": var(--rose-red),
  // "gunmetal": var(--gunmetal),
  // "soap-stone": var(--soap-stone),
  // "mid-grey": var(--mid-grey),
  // "regent-grey": var(--regent-grey),
  // "seas-hell": var(--seas-hell),
  // "snow-drift": var(--snow-drift),
  "dark-jungle-green": var(--dark-jungle-green),
  "mirage": var(--mirage),
  "gunmetal": var(--gunmetal),
  "mandy": var(--mandy),
  "citron": var(--citron),
  "dawn-pink": var(--dawn-pink),
  "ebony-clay": var(--ebony-clay),
  "corn": var(--corn)
);
