* {
  font-family: "Roboto", sans-serif;
  transition: background-color 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  border-radius: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: inherit;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > main:first-of-type {
    flex-grow: 1;
  }
}
